@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

$primary-blue: #5b9bd1;

html, body, .container {
  @include width-height(100%, 100%);
}

.background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  background: url('../images/books.jpg') no-repeat center center fixed;
  @include width-height(100%, 100%);
  @include background-size(cover);
}

.jumbotron {
  background: rgba(230, 230, 230, 0.8);
  margin-top: 8%;
}

.sign-div {
  width: 50%;
  margin: auto;
}

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  width: 90%;
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: $primary-blue;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: $primary-blue;
  background-color: #f6f9fb;
  border-left: 2px solid $primary-blue;
  margin-left: -2px;
}

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.userWords {
  font-weight: bolder;
  font-style: italic;
}

.findingWord{
  margin-bottom: 15px;
}

.findingWord input{
  margin-left: 5px;
  border-radius: 8px;
  border-style: groove;
}

.search-bar {
  width: 30%;
  float: right;
  margin-bottom: 10px;
}
