<div class="container">
  <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="http://40.media.tumblr.com/0a049264fba0072a818f733a6c533578/tumblr_mqvlz4t5FK1qcnibxo1_500.png" alt="User profile image">
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a ng-click="goHome()">
							<i class="glyphicon glyphicon-home"></i>
							My words </a>
						</li>
						<li>
							<a ng-click="goToSettings()">
							<i class="glyphicon glyphicon-user"></i>
							Profile Settings </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
      <div ui-view="home-center"></div>
		</div>
	</div>
</div>
